<div class="cont-padre">
    <mat-toolbar class="primary" id="barra">
        <span>
            <a mat-button routerLink="">
                <mat-icon>fack_check</mat-icon> <h1>PWA-1002</h1>
            </a>
        </span>
        <div>
            <a (click)="Multiplicacion()" mat-button>Multiplicación</a>
        </div>
        <div>
            <a (click)="Conversion()" mat-button>Conversión de Temperatura</a>
        </div>
        <div>
            <a (click)="Cinepolis()" mat-button>Cinepolis</a>
        </div>
    </mat-toolbar>
        <router-outlet></router-outlet>
</div>
