<div class="cont-padre">
    <mat-toolbar class="primary" id="barra">
        <span>
            <a mat-button routerLink="">
                <mat-icon>fack_check</mat-icon> <h1>PWA-1002</h1>
            </a>
        </span>
        <div>
            <a mat-button routerLinkActive="active" routerLink="Multi" >Multipicación</a>
        </div>
        <div>
            <a mat-button routerLinkActive="active" routerLink="Conversion" >Conversión de Temperatura</a>
        </div>
        <div>
            <a mat-button routerLinkActive="active" routerLink="cinepolis" >Cinepolis</a>
        </div>
    </mat-toolbar>
</div>
